@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<!--Homepage-->
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
</div>

<div class="container">
    <img src="~/img/JoelHiltonHeadshot.jpg" class="mx-auto d-block" />
</div>
