@{
    ViewData["Title"] = "My Podcasts";
}
<!--Page for podcasts-->
<div class="text-center">
    <h1 class="display-4">My Podcasts</h1>
</div>

<div class="container">
    <a href="https://baconsale.com/" target="_blank" class="btn btn-primary">Check out my newest podcast</a>
</div>